<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/default.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/module07.css">
  <title>Tableaux</title>
  <script src="assets/js/utilities.js"></script>
</head>

<body>
  <aside>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#aside_navbar"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="aside_navbar"></div>
    </nav>
  </aside>

  <main class="container my-3">
    <h1>Module 6 : Tableaux</h1>

    <article>
      <h2>Situations</h2>

      <section>
        <h3>Moyenne de la classe</h3>

        <p>Une classe comporte entre 4 et 40 élèves. On veut écrire l'algorithme d'un programme qui :</p>

        <ul>
          <li>Saisit <code>ne</code> le nombre d'élèves dans une classe, (4 &le; ne &le; 40).</li>
          <li>Saisit les noms des élèves dans le tableau <code>tn</code> ainsi que leurs moyennes dans le tableau
            <code>tm</code>.
          </li>
          <li>Calcule la moyenne de la classe <code>mc</code>, puis l'affiche.</li>
          <li>Affiche les noms des élèves qui ont obtenu au dessus de la moyenne de la classe <code>tm[i] &ge; mc</code>
            ainsi que leurs moyennes respectives.</li>
        </ul>

        <figure>
          <img src="images/module06/classe.png" alt="Salle de Classe">
          <figcaption>Salle de classe</figcaption>
        </figure>

        <p><strong>Exemple</strong></p>

        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre d'élèves ? 8
Elève n° 1
Nom ? Asma
Moyenne ? 17.5
Elève n° 2
Nom ? Akram
Moyenne ? 18.5
Elève n° 3
Nom ? Chiraz
Moyenne ? 19.5
Elève n° 4
Nom ? Salim
Moyenne ? 18.5
Elève n° 5
Nom ? Bassem
Moyenne ? 19.5
Elève n° 6
Nom ? Salma
Moyenne ? 15.5
Elève n° 7
Nom ? Dania
Moyenne ? 16.5
Elève n° 8
Nom ? Youssef
Moyenne ? 17.25
Moyenne de la classe :  17.84
Les élèves qui ont obtenu du dessus de la moyenne sont :
Akram 18.5
Chiraz 19.5
Salim 18.5
Bassem 19.5</code></pre>
        </div>
      </section>

      <section>
        <h3>Solution : Algorithme</h3>

        <div class="row">
          <div class="col-sm-9">
            <pre><code class="language-algorithm">Algorithme Moyenne_Classe
Début
  // Séquence 1 : Saisie du nombre des élèves
  Répéter
    Ecrire("Nombre d'élèves ? ") ; Lire(ne)
  Jusqu'à 4 &le; ne &le; 40

  // Séquence 2 : Saisie des noms et des notes
  Pour i de 0 à ne-1 Faire
    Ecrire("Elève n°", i+1)
    // Nom de l'élève
    Répéter
      Ecrire("Nom ? "); Lire(tn[i])
    Jusqu'à tn[i] &ne; ""
    // Moyenne de l'élève
    Répéter
      Ecrire("Moyenne ? ") ; Lire(tm[i])
    Jusqu'à 0 &le; tm[i] &le; 20
  Fin Pour

  // Séquence 3 : Calcul de la moyenne
  mc &larr; 0
  Pour i de 0 à ne - 1 Faire
    mc &larr; mc + tm[i]
  Fin Pour
  mc &larr; mc / ne
  Ecrire("Moyenne de la classe :", mc)

  // Séquence 4 : Affichage des élèves qui ont au dessus de la moyenne
  Pour i de 0 à ne - 1 Faire
    Si tm[i] &ge; mc Alors
      Ecrire(tn[i], tm[i])
    Fin Si
  Fin Pour
Fin</code></pre>
          </div>
          <div class="col-sm-3">
            <table class="table table-sm table-hover table-bordered table-striped border-dark">
              <thead>
                <tr>
                  <th>TDNT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>tab1 = tableau de 40 chaine<br>
                    tab2 = tableau de 40 réel</td>
                </tr>
              </tbody>
            </table>

            <p class="text-center"><strong>TDO</strong></p>
            <table class="table table-sm table-hover table-bordered table-striped border-dark">
              <thead>
                <tr>
                  <th width="50%">Objet</th>
                  <th width="50%">Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ne</td>
                  <td>entier</td>
                </tr>
                <tr>
                  <td>mc</td>
                  <td>réel</td>
                </tr>
                <tr>
                  <td>tn</td>
                  <td>tab1</td>
                </tr>
                <tr>
                  <td>tm</td>
                  <td>tab2</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section>
        <h3>Solution : Python</h3>

        <pre><code class="language-python">from numpy import array
tn = array([str]*20)
tm = array([float()]*20)

# Saisie des données
ne = int(input("Nombre d'élèves ? "))
while ne < 4 or ne > 40:
    ne = int(input("Nombre d'élèves ? "))

for i in range(ne):
    print("Elève n°", i+1)

    tn[i] = input("Nom ? ")
    while tn[i] == "":
        tn[i] = input("Nom ? ")

    tm[i] = float(input("Moyenne ? "))
    while tm[i] < 0 or tm[i] > 20:
        tm[i] = float(input("Moyenne ? "))

# Calcul de la meilleure moyenne
mc = 0
for i in range(ne):
    mc = mc + tm[i]
mc = mc / ne
print("Moyenne de la classe : ", round(mc, 2))

# Affichage des meilleurs élèves
print("Les élèves qui ont obtenu du dessus de la moyenne sont :")
for i in range(ne):
    if tm[i] >= mc:
        print(tn[i], tm[i])</code></pre>

        <div class="d-print-none">
          <p><strong>Données de test</strong></p>
          <pre><code class="nohighlight shell python" data-text="Données de test">8
Asma
17.5
Akram
18.5
Chiraz
19.5
Salim
18.5
Bassem
19.5
Salma
15.5
Dania
16.5
Youssef
17.25</code></pre>
      </section>

      <section>
        <h3>Anniversaire de Yassine</h3>

        <p>A l'occasion de son anniversaire, le petit Yassine va distribuer des petites boîtes surprises contenant des
          bonbons à ses amis.</p>
        <figure>
          <img src="images/module06/bonbon-box.webp" alt="Boîtes surprises bonbons" class="h3cm">
          <figcaption>Boîtes surprises bonbons</figcaption>
        </figure>
        <p>Les boîtes ne contiennent pas un nombre équitable de bonbons car le petit Yassine a imaginé la méthode de
          distribution suivante de bonbons.</p>
        <p>Les boîtes sont numérotées de <code>0</code> à <code>na-1</code>, avec <code>na</code> étant le nombre d'amis
          de Yassine qui sont invités à l'anniversaire.</p>
        <p>Initialement l'enfant dispose de <code>nb</code> bonbons, et pour chaque bonbon l'enfant :</p>
        <ul>
          <li>tire un nombre au hazard, <code>nbh</code>, compris entre 0 et <code>na-1</code></li>
          <li>met un bonbon dans la boîte d'indice <code>nbh</code></li>
        </ul>
        <div class="d-print-none">
          <div id="anniv" class="my-3">
            <div class="params">
              <div class="nb-bonbons">{{nb}}</div>
              <div class="nb-amis">{{na}}</div>
            </div>
            <div class="range">
              <input type="range" name="nb" min="10" max="200" step="5" v-model="nb">
              <input type="range" name="na" min="3" max="10" step="1" v-model="na">
            </div>
            <div class="bonbons-dispo">
              {{bonbons}}
            </div>
            <div class="boxes">
              <div class="box" v-bind:class="{'selected': selectedBox == idx}" v-for="box, idx in boxes"
                v-bind:data-index="idx">{{box}}</div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary" v-bind:disabled="bonbons == 0" v-on:click="mettreBonbon()">Mettre un
                bonbon</button>
              <button class="btn btn-primary" v-bind:disabled="bonbons == 0" v-on:click="distribuerBonbons()">Distribuer
                tous les bonbons</button>
              <button class="btn btn-primary" v-bind:disabled="bonbons != 0"
                v-on:click="reinitialiser()">Réinitialiser</button>
            </div>
          </div>
        </div>
        <p>Pour quelques bonbons le jeu semble amuser l'enfant, mais très vite le petit se lasse et il ne veut plus
          continuer son jeu.</p>
        <p>Observant son petit frère, Youssef, un lycéen en 2TI a décidé de l'aider. Pour celà, il a pensé à écrire un
          programme qui :</p>
        <ul>
          <li>Lit le nombre total de bonbons à distribuer, <code>10 &le; nb &le; 200</code></li>
          <li>Lit le nombre d'amis invités, <code>3 &le; na &le; 10</code></li>
          <li>Calcule, puis affiche le nombre de bonbons à mettre dans chacune des boîtes.</li>
        </ul>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre de bonbons [10, 200] ? 30
Nombre d'amis [3, 10] ? 5
Boîte 0 contient 4 bonbons.
Boîte 1 contient 8 bonbons.
Boîte 2 contient 6 bonbons.
Boîte 3 contient 5 bonbons.
Boîte 4 contient 7 bonbons.</code></pre>
      </section>

      <section>
        <h3>Solution : Algorithme</h3>

        <div class="row">
          <div class="col-9">
            <pre><code class="language-algorithm">Algorithme bonbons
Début
  // Séquence 1 : Saisie du nombre de bonbons
  Répéter
    Ecrire("Nombre de bonbons [10, 200] ? ")
    Lire(nb)
  Jusqu'à 10 &le; nb &le; 200

  // Séquence 2 : Saisie du nombre d'amis
  Répéter
    Ecrire("Nombre d'amis [3, 10] ? ")
    Lire(na)
  Jusqu'à 3 &le; nb &le; 10

  // Séquence 3 : Distribution des bonbons
  Pour i de 0 à na-1 Faire
    boite[i] &larr; 0
  Fin Pour

  Pour i de 0 à nb-1 Faire
    nbh &larr; aléa(0, na-1)
    boite[nbh] &larr; boite[nbh] + 1
  Fin Pour

  // Séquence 4 : Affichage du contenu des boîtes
  Pour i de 0 à na-1 Faire
    Ecrire("Boîte", i, "contient", boite[i], "bonbons.")
  Fin Pour
Fin</code></pre>
          </div>
          <div class="col-3">
            <table class="table table-sm table-hover table-bordered table-striped border-dark">
              <thead>
                <tr>
                  <th>TDNT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>tab = tableau de 10 entier</td>
                </tr>
              </tbody>
            </table>

            <p><strong>TDO</strong></p>
            <table class="table table-sm table-hover table-bordered table-striped border-dark">
              <thead>
                <tr>
                  <th width="50%">Objet</th>
                  <th width="50%">Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>i, nb, na</td>
                  <td>Entier</td>
                </tr>
                <tr>
                  <td>boite</td>
                  <td>tab</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </section>

      <section>
        <h3>Solution : Python</h3>
        <pre><code class="language-python">from random import randint
from numpy import array

nb = int(input("Nombre de bonbons [10, 200] ? "))
while not 10 &lt;= nb &lt;= 200:
    nb = int(input("Nombre de bonbons [10, 200] ? "))

na = 0
while not 3 &lt;= na &lt;= 10:
    na = int(input("Nombre d'amis [3, 10] ? "))

boite = array([0]*na)
for i in range(nb):
    nbh = randint(0, na-1)
    boite[nbh] = boite[nbh] + 1

for i in range(na):
    print(f"Boîte {i} contient {boite[i]} bonbons.")</code></pre>

      </section>
    </article>

    <article>
      <h2 class="p-break">Résumé</h2>

      <section>
        <h3>Tableaux</h3>
        <h4>Définition</h4>
        <p>Un tableau est une structure de données qui est utilisée pour stocker <strong><em>plusieurs valeurs de même
              type</em></strong>.</p>
        <p>Les éléments d'un tableau sont <strong><em>accessibles grâce à leurs indices</em></strong>, commençant de
          zéro.
        </p>
        <h4>Exemple</h4>
        <p>Soit le tableau suivant :</p>
        <table class="table table-borderless table-sm col-5 m-auto small" style="width: 300px;">
          <tbody>
            <tr>
              <td>tn</td>
              <td class="border border-dark">Amine</td>
              <td class="border border-dark">Israa</td>
              <td class="border border-dark">Sirine</td>
              <td class="border border-dark">Eya</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>Quel est le nom de ce tableaux ? <strong>tn</strong></li>
          <li>Quel est le nombre de ses éléments ? <strong>4</strong></li>
          <li>Quel est le type de chacun de ses éléments ? <strong>chaîne</strong></li>
        </ul>
        <h4>Déclaration en algorithme</h4>
        <p>En algorithme, un tableau est déclaré dans le TDO de la façon suivante :</p>

        <p class="text-center"><b>TDO</b></p>
        <table width="50%" class="m-auto text-center">
          <tbody>
            <tr>
              <th class="border border-dark">Objet</th>
              <th class="border border-dark">Type/Nature</th>
            </tr>
            <tr>
              <td class="border border-dark">nom_tableau</td>
              <td class="border border-dark">tableau de <span class="text-danger">nombre_éléments</span> <span
                  class="text-info">type_élément</span>
              </td>
            </tr>
          </tbody>
        </table>

        <p><span class="text-danger">nombre_éléments</span> indique le nombre de cases du tableau.</p>
        <p><span class="text-info">type_élément</span> indique le type des éléments.</p>

        <h5>Exemple</h5>
        <p>Pour déclarer le tableau <code>tn</code> utilisé précedemment on écrit :</p>

        <p class="text-center"><b>TDO</b></p>
        <table width="50%" class="m-auto text-center">
          <tbody>
            <tr>
              <th class="border border-dark">Objet</th>
              <th class="border border-dark">Type/Nature</th>
            </tr>
            <tr>
              <td class="border border-dark">tn</td>
              <td class="border border-dark">Tableau de <span class="text-danger">4</span> <span
                  class="text-info">chaîne</span></td>
            </tr>
          </tbody>
        </table>

        <h4>Déclaration en Python</h4>
        <p>En Python, pour déclarer un tableau il faut utiliser la fonction <code>array</code> de la bibliothèque
          <code>numpy</code>.
        </p>
        <h5>Exemple 1</h5>
        <p>Pour déclarer le tableau <code>tn</code> utilisé précedemment on écrit :</p>
        <pre><code class="language-python">from numpy import array
tn = array([str]*4)     # tableau de 4 chaînes</code></pre>
        <h5>Exemple 2</h5>
        <p>Pour déclarer divers types de tableaux on peut également écrire :</p>
        <pre><code class="language-python">from numpy import array
te = array([int()]*10)  # tableau de 10 entiers
tf = array([float()]*6) # tableau de 6 réels
tb = array([bool()]*20) # tableau de 20 booléens</code></pre>

        <h4>Accès aux éléments</h4>
        <p>L'<strong><em>accès à un élément</em></strong> d'un tableau se fait à l'aide de son
          <strong><em>indice</em></strong> dans le tableau.
        </p>

        <h5 class="p-break">Exemple 1</h5>
        <p>Pour remplir le tableau <code>tn</code> on peut écrire :</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="language-algorithm">tn[0] ← "Amine"
tn[1] ← "Israa"
tn[2] ← "Sirine"
tn[3] ← "Eya"</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="language-python">tn[0] = "Amine"
tn[1] = "Israa"
tn[2] = "Sirine"
tn[3] = "Eya</code></pre>
          </div>
        </div>

        <h5>Example 2</h5>
        <p>Un tableau peut être, aussi, rempli par des valeurs saisies par l'utilisateur.</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="language-algorithm">Pour i de 0 à 3 Faire
  Ecrire("Nom de la ", i, "ème personne ? ")
  Lire(tn[i])
Fin Pour</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="language-python">for i in range(4):
  tn[i] = input(f"Nom de la {i} ème personne ? ")
 </code></pre>
          </div>
        </div>

        <h5>Example 3</h5>
        <p>Pour afficher le contenu du tableau <code>tn</code> on peut écrire :</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="language-algorithm">Ecrire(tn[0])
Ecrire(tn[1])
Ecrire(tn[2])
Ecrire(tn[3])</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="language-python">print(tn[0])
print(tn[1])
print(tn[2])
print(tn[3])</code></pre>
          </div>
        </div>

        <h5>Exemple 4</h5>
        <p>On peut aussi utiliser une boucle :</p>
        <div class="row">
          <div class="col-6">
            <pre><code class="language-algorithm">Pour i de 0 à 3 Faire
  Ecrire(tn[i])
Fin Pour</code></pre>
          </div>
          <div class="col-6">
            <pre><code class="language-python">for i in range(4):
  print(tn[i])
 </code></pre>
          </div>
        </div>

      </section>
    </article>

    <article>
      <h2 class="p-break">Renforcement</h2>

      <section>
        <h3>QCM n°1 ★</h3>
        <p><b>Cocher les bonnes réponses.</b></p>

        <div class="qcm-exercise no-page-break-inside" data-correct="2" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 1</h5>
          <div class="question">
            <p>Qu'est-ce qu'un tableau en programmation ?</p>
          </div>
          <ul class="propositions">
            <li>Une variable qui ne peut stocker qu'une seule valeur</li>
            <li>Une structure permettant de stocker plusieurs valeurs du même type</li>
            <li>Une fonction mathématique</li>
            <li>Un fichier de données</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="3" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 2</h5>
          <div class="question">
            <p>Comment accède-t-on au premier élément d'un tableau T en Python ?</p>
          </div>
          <ul class="propositions">
            <li>T(1)</li>
            <li>T[1]</li>
            <li>T[0]</li>
            <li>T[-1]</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="4" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 3</h5>
          <div class="question">
            <p>Quel tableau est correctement déclaré en Python ?</p>
          </div>
          <ul class="propositions">
            <li>T = &lt;1,2,3&gt;</li>
            <li>T = tableau(1, 2, 3)</li>
            <li>T = array(1, 2, 3)</li>
            <li>T = array([1, 2, 3])</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="3" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 4</h5>
          <div class="question">
            <p> Soit le tableau T suivant :</p>
            <script>draw_table('T', [10, 20, 30, 40], 0);</script>
            <p><strong>Que vaut T[2] ?</strong></p>
          </div>
          <ul class="propositions">
            <li>10</li>
            <li>20</li>
            <li>30</li>
            <li>40</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="4" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question</h5>
          <div class="question 5">
            <p>Soit le tableau T suivant :</p>
            <script>draw_table('T', [5, 8, 2, 9, 4, 3], 0);</script>
            <p><strong>Quelle est la taille du tableau T ?</strong></p>
          </div>
          <ul class="propositions">
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="2" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 6</h5>
          <div class="question">
            <p>Quel est l'indice du dernier élément d'un tableau de taille <code>n</code>, en Python ?</p>
          </div>
          <ul class="propositions">
            <li>0</li>
            <li>n-1</li>
            <li>n</li>
            <li>n+1</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="4" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 7</h5>
          <div class="question">
            <p>Soit le tableau T suivant :</p>
            <script>draw_table('T', [5, 8, 2, 9, 4, 3], 0);</script>
            <p><strong>Que fait la séquence suivante ?</strong></p>
            <pre><code class="language-algorithm">Pour i de 0 à n div 2 Faire
  T[i] ← T[i] + 1
Fin Pour</code></pre>
          </div>
          <ul class="propositions">
            <li>Incrémente tous les éléments du tableau</li>
            <li>Incrémente les éléments de la 1e moitié du tableau (indices 0 → 2)</li>
            <li>Incrémente les éléments de la 2n moitié du tableau (indices 3 → 5)</li>
            <li>Incrémente les 4 premiers éléments du tableau</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="4" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 8</h5>
          <div class="question">
            <p>Soit le tableau T suivant :</p>
            <script>draw_table('T', [5, 8, 2, 3, 4, 9], 0);</script>
            <p><strong>Quelle est la valeur finale de <code>m</code> après l'exécution de la séquence suivante
                ?</strong></p>
            <pre><code class="language-algorithm">m ← T[0]
Pour i de 2 à n - 2 faire
  Si T[i] > m alors
    m ← T[i]
  Fin Si
Fin Pour</code></pre>
          </div>
          <ul class="propositions">
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>8</li>
            <li>9</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="4" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 9</h5>
          <div class="question">
            <p>Quelle est la boucle correcte pour retrouver la valeur maximale du tableau <code>T</code> précédent ?</p>
          </div>
          <ul class="propositions">
            <li>Pour i de 0 à n Faire</li>
            <li>Pour i de 1 à n Faire</li>
            <li>Pour i de 1 à n-2 Faire</li>
            <li>Pour i de 0 à n-1 Faire</li>
          </ul>
        </div>

        <div class="qcm-exercise no-page-break-inside" data-correct="3" data-scrambled="false" data-tries="2">
          <h5 class="question-title">Question 10</h5>
          <div class="question">
            <p>Soit le tableau <code>T</code> suivant :</p>
            <script>draw_table('T', [3, 6, 9, 12, 15], 0);</script>
            <p><strong> Après l'exécution de la séquence suivante, que contient le tableau <code>T</code> ?</strong></p>
            <pre><code class="language-algorithm">Pour i de 0 à 3 faire
  T[i] ← T[i] + T[i+1]
Fin Pour</code></pre>
          </div>
          <ul class="propositions">
            <li>
              <!-- <script>draw_table('T', [3, 6, 9, 12, 15], 0);</script> -->
              <table class="draw-table" style="margin: 0;">
                <tbody>
                  <tr>
                    <td style="width: 60px; text-align: center;">T</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">3</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">6</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">9</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">12</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">15</td>
                  </tr>
                  <tr>
                    <td><small>&nbsp;</small></td>
                    <td style="text-align: center;"><small>0</small></td>
                    <td style="text-align: center;"><small>1</small></td>
                    <td style="text-align: center;"><small>2</small></td>
                    <td style="text-align: center;"><small>3</small></td>
                    <td style="text-align: center;"><small>4</small></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <!-- <script>draw_table('T', [3, 9, 15, 21, 27], 0);</script> -->
              <table class="draw-table" style="margin: 0;">
                <tbody>
                  <tr>
                    <td style="width: 60px; text-align: center;">T</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">3</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">9</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">15</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">21</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">27</td>
                  </tr>
                  <tr>
                    <td><small>&nbsp;</small></td>
                    <td style="text-align: center;"><small>0</small></td>
                    <td style="text-align: center;"><small>1</small></td>
                    <td style="text-align: center;"><small>2</small></td>
                    <td style="text-align: center;"><small>3</small></td>
                    <td style="text-align: center;"><small>4</small></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <!-- <script>draw_table('T', [9, 15, 21, 27, 15], 0);</script> -->
              <table class="draw-table" style="margin: 0;">
                <tbody>
                  <tr>
                    <td style="width: 60px; text-align: center;">T</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">9</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">15</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">21</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">27</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">15</td>
                  </tr>
                  <tr>
                    <td><small>&nbsp;</small></td>
                    <td style="text-align: center;"><small>0</small></td>
                    <td style="text-align: center;"><small>1</small></td>
                    <td style="text-align: center;"><small>2</small></td>
                    <td style="text-align: center;"><small>3</small></td>
                    <td style="text-align: center;"><small>4</small></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <!-- <script>draw_table('T', [9, 15, 21, 27, 30], 0);</script> -->
              <table class="draw-table" style="margin: 0;">
                <tbody>
                  <tr>
                    <td style="width: 60px; text-align: center;">T</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">9</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">15</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">21</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">27</td>
                    <td style="width: 60px; text-align: center; border: #333 solid 1px;">30</td>
                  </tr>
                  <tr>
                    <td><small>&nbsp;</small></td>
                    <td style="text-align: center;"><small>0</small></td>
                    <td style="text-align: center;"><small>1</small></td>
                    <td style="text-align: center;"><small>2</small></td>
                    <td style="text-align: center;"><small>3</small></td>
                    <td style="text-align: center;"><small>4</small></td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </section>

      <section>
        <h3>Inversion des éléments d'un tableau ★</h3>
        <p>Ecrire un programme qui permet d'inverser les éléments d'un tableau t de n entiers (n≥2).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 7
t [ 0 ]= 11
t [ 1 ]= 2
t [ 2 ]= 33
t [ 3 ]= 5
t [ 4 ]= 6
t [ 5 ]= 7
t [ 6 ]= 1
Tableau inversé : 1, 7, 6, 5, 33, 2, 11,</code></pre>
      </section>

      <section>
        <h3>Extrêmums d'un tableau ★</h3>
        <p>Ecrire un programme qui permet d'afficher le maximum et le minimum dans un tableau t de n entiers (n≥2).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 5
t [ 0 ]= 11
t [ 1 ]= 2
t [ 2 ]= 33
t [ 3 ]= 4
t [ 4 ]= 67
Minimum : 2 - Maximum : 67</code></pre>
      </section>

      <section>
        <h3>Eclatement selon le signe ★</h3>
        <p>Ecrire un programme qui permet de remplir un tableau t par n entiers non nuls (n≥2) et d'éclater
          en deux tableaux : tn (contenant les éléments négatifs de t) et tp (contenant les éléments positifs
          de t).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 10
t [ 0 ]= 3
t [ 1 ]= 2
t [ 2 ]= -5
t [ 3 ]= 4
t [ 4 ]= -7
t [ 5 ]= -8
Positifs : 3, 2, 4,
Négatifs : -5, -7, -8,</code></pre>
      </section>

      <section>
        <h3>Somme des carrés des chiffres ★</h3>
        <p>Ecrire un programme qui permet de saisir les éléments d'un tableau t de n entiers de trois chiffres
          (n≥2) et de remplir un tableau t2 de la façon suivante : les éléments de t2 sont égaux à la somme
          des carrés des chiffres de t1.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 6
t1 [ 0 ]= 254
t1 [ 1 ]= 121
t1 [ 2 ]= 133
t1 [ 3 ]= 325
t1 [ 4 ]= 150
t1 [ 5 ]= 222
t2 : 45, 6, 19, 38, 26, 12,</code></pre>
      </section>

      <section>
        <h3>Fusion de deux tableaux de même longueur ★</h3>
        <p>Ecrire un programme qui fusionne deux tableaux t1 et t2, de même longueur n dans un troisième
          tableau t3 de longueur n3 = 2 * n.</p>
        <p>La fusion se fera de la façon suivante :</p>
        <ul>
          <li>Placer les éléments de t1 dans des cases impaires de t3</li>
          <li>Placer les éléments de t2 dans des cases paires de t3</li>
        </ul>
        <div class="row">
          <div class="col-3">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td>t1</td>
                  <td class="border border-dark text-danger">9</td>
                  <td class="border border-dark text-danger">2</td>
                  <td class="border border-dark text-danger">4</td>
                  <td class="border border-dark text-danger">7</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-3">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td>t2</td>
                  <td class="border border-dark text-success">7</td>
                  <td class="border border-dark text-success">3</td>
                  <td class="border border-dark text-success">2</td>
                  <td class="border border-dark text-success">1</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td>t3</td>
                  <td class="border border-dark text-success">7</td>
                  <td class="border border-dark text-danger">9</td>
                  <td class="border border-dark text-success">3</td>
                  <td class="border border-dark text-danger">2</td>
                  <td class="border border-dark text-success">2</td>
                  <td class="border border-dark text-danger">4</td>
                  <td class="border border-dark text-success">1</td>
                  <td class="border border-dark text-danger">7</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>0</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Taille du tableau t1 (>=2) : 4
t1[ 0 ]= 9
t1[ 1 ]= 2
t1[ 2 ]= 4
t1[ 3 ]= 7
t2[ 0 ]= 7
t2[ 1 ]= 3
t2[ 2 ]= 2
t2[ 3 ]= 1
t3 : 7, 9, 3, 2, 2, 4, 1, 7</code></pre>
      </section>

      <section>
        <h3>Chaînes / Chiffres ★★</h3>

        <ol>
          <li>Écrire l'algorithme d'un programme qui permet de remplir un tableau <code>t1</code> par <code>n</code>
            chaînes non vides <code>(2 ≤ n ≤ 100)</code>, de classer les chiffres dans le tableau <code>t2</code> et les
            lettres dans le tableau <code>t3</code>, puis d'afficher le
            contenu des deux tableaux <code>t2</code> et <code>t3</code>.
            <p><strong>Exemple :</strong> Pour <code>n = 6</code> et <code>t1</code> :</p>
            <div class="chchStyle">
              <script>
                const chchStyle = {
                  ...defaultStyle,
                  col: {
                    width: '150px',
                    'text-align': 'center',
                    border: '#333 solid 1px'
                  },
                };
                draw_table('t1', ['"<b>12</b><u>FG</u><b>68</b>"', '"<b>456</b>"', '"<u>TEST</u>"', '"<b>55</b>#"', '"<u>ILTN</u>"', '"<b>9654</b>"', '"<u>G</u><b>00</b><u>D</u> <u>LUCK</u>"'], 0, chchStyle);</script>
              <p>Le tableau <code>t2</code> contient les chiffres de <code>t1</code> comme suit :</p>
              <script>
                draw_table('t2', [1268, 456, 55, 9654], 0);
              </script>
              <p>Et le tableau <code>t3</code> contient les lettres de <code>t1</code>, comme suit :</p>
              <script>
                draw_table('t6', ['"FG"', '"TEST"', '"ILTN"', '"GDLUCK"'], 0);
              </script>
            </div>

            <style>
              .chchStyle u {
                color: blue;
                font-weight: bold;
              }

              .chchStyle b {
                color: red;
                font-weight: bold;
              }
            </style>
          </li>
          <li>Implémenter votre solution en python.</li>
        </ol>
      </section>

      <section>
        <h3>Vols de drône ★★</h3>

        <p>Un drone effectue plusieurs vols. Pour chaque vol, on enregistre son altitude maximale atteinte (en
          mètres).
        </p>
        <figure>
          <img src="images/module06/drone.png" alt="Drone">
          <figcaption>Drône</figcaption>
        </figure>
        <p>On demande d'écrire un algorithme qui :</p>
        <ul>
          <li>Saisit <code>n</code> le nombre de vols (1 ≤ n ≤ 30).</li>
          <li>Remplit un tableau nommé <code>alt</code> par l'altitude maximale atteinte par le drone dans chacun
            des
            vols, <code>alt[i] >= 0</code>.</li>
          <li>Calcule et affiche l'altitude moyenne <code>am</code> de tous les vols.</li>
          <li>Affiche les numéros des vols où l'altitude moyenne est dépassée.</li>
        </ul>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre de vols ? 5
Vol 1 ? 50
Vol 2 ? 120
Vol 3 ? 80
Vol 4 ? 100
Vol 5 ? 95
Altitude moyenne : 89 m
Numéro des vols qui ont dépassé la moyenne :
- Vol 2 – 120 m
- Vol 4 – 100 m
- Vol 5 – 95 m</code></pre>

      </section>
      <section>
        <h3>Première occurence ★★</h3>
        <p>Ecrire un programme qui permet de remplir un tableau t par n entiers non nuls (n≥2), de garder la
          première occurrence de chaque élément.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 10
t [ 0 ]= 10
t [ 1 ]= 7
t [ 2 ]= 9
t [ 3 ]= 7
t [ 4 ]= 10
t [ 5 ]= 7
t [ 6 ]= 7
t [ 7 ]= 8
t [ 8 ]= 8
t [ 9 ]= 8
Le résultat est : 10, 7, 9, 8,</code></pre>
      </section>

      <section>
        <h3>Intersection de deux tableaux ★★</h3>
        <p>Ecrire un programme qui permet de ranger et d'afficher les éléments qui figurent dans les deux
          tableaux de n entiers a et b (n≥2).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 4
A[ 0 ]= 1
A[ 1 ]= 2
A[ 2 ]= 4
A[ 3 ]= 7
B[ 0 ]= 7
B[ 1 ]= 3
B[ 2 ]= 2
B[ 3 ]= 1
Les éléments communs sont : 1, 2, 7,</code></pre>
      </section>

      <section>
        <h3>Conversion de la base 10 à la base 16 ★★</h3>

        <p>Ecrire un programme qui saisit un nombre n compris entre 0 et 255 et le convertit en hexadécimal.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre à convertir : 241
241(10) = F1(16)</code></pre>
      </section>



      <section>
        <h3>Fusion de tableaux selon leurs parités ★★</h3>
        <p>Ecrire un programme qui fusionne deux tableaux t1 et t2, de longueur n1 et n2 différentes, dans un
          troisième
          tableau t3 de longueur n3 = n1 + n2.</p>
        <p>La fusion se fera de la façon suivante :</p>
        <ul>
          <li>Placer les éléments pairs de t1, puis les éléments pairs de t2</li>
          <li>Placer les éléments impairs de t1 et enfin les éléments impairs de t2</li>
        </ul>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Taille du tableau t1 (>=2) : 4
t1[ 0 ]= 9
t1[ 1 ]= 2
t1[ 2 ]= 4
t1[ 3 ]= 7
Taille du tableau t2 (>=2) : 7
t2[ 0 ]= 7
t2[ 1 ]= 3
t2[ 2 ]= 2
t2[ 3 ]= 1
t2[ 4 ]= 5
t2[ 5 ]= 8
t2[ 6 ]= 4
t3 : 2, 4, 2, 8, 4, 9, 7, 7, 3, 1, 5</code></pre>
      </section>

      <section>
        <h3>Classement de foot ★★</h3>

        <p>Soit le programme Python suivant :</p>

        <div class="row">
          <div class="col-6">
            <pre><code class="language-python">from numpy import array

# Séquence 1
n = int(input("Nbre équipes ? "))
while n <= 0 or n > 20:
    n = int(input("Nbre équipes ? "))

# Séquence 2
teq = array([str]*20)
tnbp = array([int()]*20)
for i in range(n):
    # Séquence 2.1
    teq[i] = input("Equipe ? ")

    # Séquence 2.2
    tnbp[i] = int(input("Pts ? "))
    while i != 0 and tnbp[i] > tnbp[i-1]:
        tnbp[i] = int(input("Pts ? "))

# Séquence 3
rang = 1
print("Classement des équipes")
for i in range(n):
    # Séquence 3.1
    if i > 0 and tnbp[i] != tnbp[i-1]:
            rang = i+1
    print(rang, teq[i], tnbp[i])</code></pre>
          </div>
          <div class="col-6">
            <p><strong>Exemple d'exécution :</strong></p>
            <pre><code class="nohighlight shell python" data-text="Exemple">Nbre équipes ? 25
Nbre équipes ? 7
Equipe ? ESS
Pts ? 13
Equipe ? OB
Pts ? 15
Pts ? 12
Equipe ? CA
Pts ? 13
Pts ? 12
Equipe ? ST
Pts ? 8
Equipe ? USBG
Pts ? 7
Equipe ? EGSG
Pts ? 6
Equipe ? ASS
Pts ? 0
1 ESS 13
2 OB 12
2 CA 12
4 ST 8
5 USBG 7
6 EGSG 6
7 ASS 0</code></pre>
          </div>
          <ol>
            <li>Indiquer le rôle de chaque séquence :
              <div class="row">
                <div class="col-4">
                  <ol type="1">
                    <li>Séquence 1</li>
                    <li>Séquence 2</li>
                    <li>Séquence 2.1</li>
                    <li>Séquence 2.2</li>
                    <li>Séquence 3</li>
                    <li>Séquence 3.1</li>
                  </ol>
                </div>
                <div class="col-8">
                  <ol type="a">
                    <li>Calculer le rang d'une équipe selon son nombre de points.</li>
                    <li>Remplir la case n°(i) de teq avec le nom d'une équipe.</li>
                    <li>Saisir le nombre d'équipes.</li>
                    <li>Afficher le classement des équipes.</li>
                    <li>Remplir la case d'indice i de tnbp avec un nombre de points inférieur ou égal à celui de
                      l'équipe d'indice i-1, tnpb[i] ≤ tnpb[i - 1]</li>
                    <li>Remplir les tableaux teq et tnbp.</li>
                  </ol>
                </div>
              </div>
              <p class="my-4 text-center">1 → ……… - 2 → ……… - 3 → ……… - 4 → ……… - 5 → ……… - 6 → ………</p>
            </li>
            <li>Proposer un algorithme correspondant à ce programme, son TDNT et TDO.</li>
          </ol>
        </div>
      </section>

      <section>
        <h3>Quadruplet ★★</h3>

        <ol>
          <li>
            <p>Écrire l'algorithme d'un programme qui permet de :</p>
            <ul>
              <li>Saisir une chaîne de caractère <code>ch</code> d'une longueur comprise entre 4 et 100 caractères.
              </li>
              <li>Remplir le tableau <code>t</code> par les lettres trouvées dans <code>ch</code>. Compléter par le
                caractère "." pour obtenir un tableau <code>t</code> de taille <code>n</code> multiple de 4.</li>
              <li>Inverser les caractères de chaque bloc de longueur 4.</li>
              <li>Afficher le tableau résultat.</li>
            </ul>
            <p><strong>Exemple :</strong> Pour ch = "2e Informatique"</p>
            <p>Le tableau t contient alors</p>
            <script>
              const quadrupletStyle = {
                ...defaultStyle,
                table: "margin: 0;",
                firstCol: {
                  width: '40px',
                  'text-align': 'center',
                },
                col: {
                  width: '40px',
                  'text-align': 'center',
                  border: '#333 solid 1px'
                },
                styles: []
              };
              const qt = ['"E"', '"I"', '"N"', '"F"', '"O"', '"R"', '"M"', '"A"', '"T"', '"I"', '"Q"', '"U"', '"E"', '"."', '"."', '"."'];
              for (let i = 0; i < qt.length; i++) {
                if (Math.floor(i / 4) % 2 == 0) {
                  quadrupletStyle.styles.push({
                    'background-color': 'rgb(255, 204, 204)'
                  });
                } else {
                  quadrupletStyle.styles.push({
                    'background-color': 'rgb(204, 255, 204)'
                  });
                }
              }
              draw_table('t', qt, 0, quadrupletStyle);</script>
            <p>Le programme affichera :</p>
            <script>draw_table('t', ['"F"', '"N"', '"I"', '"E"', '"A"', '"M"', '"R"', '"O"', '"U"', '"Q"', '"I"', '"T"', '"."', '"."', '"."', '"E"'], 0, quadrupletStyle);</script>
          </li>
          <li>Implémenter votre solution en python.</li>
        </ol>
      </section>

      <section>
        <h3>Vas et viens ★★★</h3>
        <p>Soient t1 et t2 deux tableaux d'entiers de taille n (n≥2).
          Ecrire un programme qui permet de transférer les éléments de t1 et t2 selon le principe suivant :
          Les éléments de rang impair de t1 seront rangés dans t2 en ordre inverse (de droite à gauche) et
          les éléments de rang pair de t1 seront rangés dans t2 (de gauche à droite).</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Donner la taille du tableau (>=2) : 9
t1 [ 0 ]= 12
t1 [ 1 ]= 13
t1 [ 2 ]= 41
t1 [ 3 ]= 5
t1 [ 4 ]= 19
t1 [ 5 ]= 13
t1 [ 6 ]= 4
t1 [ 7 ]= 8
t1 [ 8 ]= 15
t2 : 12, 41, 19, 4, 15, 8, 13, 5, 13,</code></pre>
      </section>

      <section>
        <h3 class="p-break">Le marchand de légumes ★★★</h3>
        <p>Le marchand de légumes vend les pommes dans des sacs de la façon suivante :</p>
        <ul>
          <li>Des sacs d'une seule pomme,</li>
          <li>Des sacs de deux pommes,</li>
          <li>Des sacs de quatre pommes,</li>
          <li>Des sacs de huit pommes,</li>
          <li>Des sacs de seize pommes,</li>
        </ul>
        <p>Le marchand refuse de vendre deux sacs qui contiennent le même nombre de pommes à un seul client.</p>
        <ol>
          <li>Calculer le nombre minimal de sacs achetés par les clients suivants :
            <ul>
              <li>Islem veut 14 pommes,</li>
              <li>Ayoub veut 3 pommes,</li>
              <li>Alaa veut 8 pommes,</li>
              <li>Amine veut 10 pommes.</li>
            </ul>
          </li>
          <li>Ecrire le programme qui calcule le nombre de sacs nécessaires pour satisfaire la commande d'un client
            donné.</li>
        </ol>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Nombre de pommes : 25
un sac de 1 pommes
un sac de 8 pommes
un sac de 16 pommes</code></pre>
      </section>

      <section>
        <h3>Segmentation d'un tableau ★★★</h3>

        <p>Ecrire un programme qui segmente un tableau t de n entiers de la façon suivante :</p>
        <ul>
          <li>Les éléments inférieurs à t[0] sont placés au début du tableau</li>
          <li>Les éléments supérieurs à t[0] sont placés à la fin du tableau</li>
          <li>L'élément t[0] est placé au milieu du tableau</li>
        </ul>
        <p>Les nombres du tableau sont des nombres aléatoires compris entre 1 et 999.</p>
        <p><strong>Exemple :</strong></p>
        <pre><code class="nohighlight shell python" data-text="Exemple">Taille du tableau t (>=2) : 10
Avant segmentation :  [203, 32, 515, 19, 762, 762, 884, 157, 459, 337]
Après segmentation :  [19, 32, 157, 203, 762, 884, 762, 459, 337, 515]</code></pre>
        <p><strong>Explication :</strong></p>
        <p>
          <span>203</span>
          <span class="text-danger">32</span>
          <span class="text-success">515</span>
          <span class="text-danger">19</span>
          <span class="text-success">762</span>
          <span class="text-success">762</span>
          <span class="text-success">884</span>
          <span class="text-danger">157</span>
          <span class="text-success">459</span>
          <span class="text-success">337</span>
        </p>
        <p>Les éléments inférieurs à 203 sont en <span class="text-danger">rouge</span></p>
        <p>Les éléments supérieurs à 203 sont en <span class="text-success">vert</span></p>
      </section>

      <section>
        <h3>Station de services la plus proche ★★★</h3>
        <p>Un automobiliste en manque de carburant veut aller à la station de services la plus proche pour faire le
          plein.</p>
        <p>Ecrire un programme qui :</p>
        <ul>
          <li>Saisit le nombre de stations de services <code>n</code> qui se trouvent aux alentours</li>
          <li>Remplit un tableau <code>dist</code> par les distances des stations de services</li>
          <li>Affiche le numéro de station de la plus proche ainsi que sa distance.</li>
        </ul>
      </section>

      <section>
        <h3>Nombre d'apparitions ★★★</h3>
        <ol>
          <li>
            <p>Écrire l'algorithme d'un programme qui permet de :</p>
            <ul>
              <li>Remplir aléatoirement le tableau <code>t1</code> par <code>n</code> entiers aléatoires entre 1 et 6
                <code>(2 ≤ n ≤ 100)</code>.
              </li>
              <li>Compter la fréquence (nombre d'apparition) des nombres de <code>t1</code> dans le tableau
                <code>t2</code>. L'élément d'indice <code>i (1 ≤ i ≤ 6)</code> de <code>t2</code> doit correspondre à la
                fréquence du nombre <code>i</code> dans le tableau <code>t1</code>.
              </li>
              <li>Afficher le nombre d'apparition de chaque nombre.</li>
            </ul>
            <p><strong>Exemple :</strong> Pour <code>n = 20</code> et le tableau <code>t1</code> contenant les 20
              nombres aléatoires suivants :</p>

            <script>
              const nbat1 = "6	3	3	5	1	1	2	5	6	1	4	2	4	4	6	6	6	1	1	6".split('\t').map(v => +v);
              const nbaColors = ['', 'rgb(255, 204, 204)', 'rgb(255, 235, 204)', 'rgb(245, 255, 204)', 'rgb(214, 255, 204)', ' rgb(204, 255, 255)', 'rgb(204, 224, 255)'];
              const nbastyles = {
                ...defaultStyle,
                col: {
                  ...defaultStyle.col,
                  width: '40px'
                }
              };
              nbastyles.styles = nbat1.map(v => {
                return { 'background-color': nbaColors[v] };
              });
              draw_table('t1', nbat1, 0, nbastyles);
            </script>

            <p>Le tableau <code>t2</code> contient le nombre du tableau initial sans redondances :</p>
            <script>
              const nbat2 = "0 5 2 2 3 2 6".split(/\s+/).map(v => +v);
              console.log(nbat2);
              const nbastyles1 = {
                ...nbastyles
              };
              nbastyles1.styles = nbat2.map((v, i) => {
                return { 'background-color': nbaColors[i] };
              });
              draw_table('t2', nbat2, 0, nbastyles1);
            </script>
            <p>Le programme affiche :</p>
            <pre><code class="nohighlight shell python" data-text="Exemple">1 apparaît 5 fois
2 apparaît 2 fois
3 apparaît 2 fois
4 apparaît 3 fois
5 apparaît 2 fois
6 apparaît 6 fois</code></pre>
          </li>
          <li>Implémenter votre solution en python.</li>
          <li>
            <p>Ajouter la séquence suivante qui permet d'afficher les nombres de t1 du plus fréquent au moins fréquent.
            </p>
            <pre><code class="language-algorithm">mx1 ← 101 ; mx2 ← 1
TantQue (mx2 > 0) Faire
  mx2 ← 0
  Pour j de 1 à 6 Faire
    Si t2[j] < mx1 et t2[j]> t2[mx2] Alors
      mx2 ← j
    Fin Si
  Fin Pour
  Pour j de 1 à 6 Faire
    Si t2[j] = t2[mx2] Alors
      Ecrire(j, "apparaît", t2[j], "fois")
    Fin Si
  Fin Pour
  mx1 ← t2[mx2]
Fin TantQue</code></pre>
          </li>
        </ol>
      </section>

      <section>
        <h3>Doublure d'acteurs ★★★</h3>
        <p>Lors de tournage d'un film certaines scènes doivent être doublées par une autre personne qui possède une
          certaine ressemblance à l'acteur principal.</p>
        <p>Disposant d'un tableau qui contient le degré de ressemblance de n candidats avec l'acteur principal
          sélectionner le candidat adéquat.</p>
        <p>On suppose que la caractéristique de l'acteur est représentées par un entier entre 0 et 100.</p>
        <p>On suppose que les caractéristiques des doublures sont aussi représentées par des entiers entre 0 et 100
          stockés dans un tableau.</p>
        <p>Ecrire un programme qui :</p>
        <ul>
          <li>saisit la caractéristique de l'acteur principal <code>0 &le; car &le; 100</code>,</li>
          <li>saisit le nombre de doublures (nombre de personnes qui peuvent remplacer l'acteur)
            <code>2 &le; n &le; 10</code>,
          </li>
          <li>remplit un tableau <code>t</code> par les caractéristiques des doublures,</li>
          <li>affiche le candidat qui ressemble le plus à l'acteur principal.</li>
        </ul>
        <pre><code class="nohighlight shell python" data-text="Exemple">Caractéristique de l'acteur ? 78
Nombre de doublures ? 10
Caractéristiques des doublures : [58, 55, 79, 91, 44, 4, 44, 2, 4, 22]
Le candidat est n° 2 sa caractéristique est 79</code></pre>
      </section>
    </article>
  </main>
  <footer class="d-print-none bg-dark text-white p-2">
    <div class="text-center">Page créée avec ♥ par Mohamed Anis MANI</div>
    <div class="text-center small">Année scolaire : 2023/2024</div>
  </footer>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/highlight.pack.js"></script>
  <script src="assets/js/hljs.algorithm.js"></script>
  <script src="assets/js/clipboard.min.js"></script>
  <script src="assets/js/pages.js"></script>
  <script src="assets/js/draggable.js"></script>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/apps/module06.js"></script>
  <script>
    hljs.initHighlightingOnLoad();

    document.querySelectorAll('.language-algorithm,.language-python')
      .forEach(item => {
        const div = document.createElement('div');
        div.className = 'bd-clipboard d-print-none';
        const btn = document.createElement('button');
        btn.className = 'btn-clipboard';
        btn.textContent = "📋";
        btn.title = "Copier";
        div.appendChild(btn);
        item.parentElement.insertBefore(div, item);
      });
    new ClipboardJS('.btn-clipboard', {
      target: (trigger) => {
        return trigger.parentElement.nextElementSibling;
      }
    });
  </script>
</body>

</html>